---
---

@import "{{ site.theme }}";

div.navbar {
position: fixed;
 top: 0;
 left: 0;
padding-bottom: 0;
margin-bottom: 0;
padding: 5px;
}
.navlink {
border-right: solid 2px black;
color: #FFFFFF;
opacity: 0.7;
font-size: 18pt;
padding-right: 5px;
}
.navlink:last-child {
border-right: none;
}

