<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<script>
function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
</script>
  </head>
  <body>

    <header class="page-header" role="banner">
      <img src="https://Element-0.github.io/Logo.png" height="200px" width="200px" alt="Element Zero Logo"/>
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
        <a href="https://github.com/Element-0/ElementZero" class="btn">View on GitHub</a>
        <a href="https://github.com/Element-0/ElementZero/releases/latest" class="btn">Download</a><br/>
<div class="navbar">
        <a href="https://Element-0.github.io/index.html" class="navlink">Home</a>
        <a href="https://Element-0.github.io/ElementZero.wiki/Home.html" class="navlink">Documentation</a>
        <a href="https://elementzero.flarum.cloud" class="navlink">Forums</a>
</div>
    </header>

    <main id="content" class="main-content" role="main">
	<div id="docsidebar" class="docsidebar"></div>
	<div class="contentdiv">
      {{ content }}
</div>
    </main>
	<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script>
if (window.location.href.indexOf("/ElementZero.wiki") > -1) {
var sidebarmd
converter = new showdown.Converter
var sidebarstyle = "position: absolute;right: 0;display: inline;height: content-height;width: 30%;border: solid 2px black;border-radius: 20px;background-color: #FFFFFF;";
var sidebar = document.getElementById("docsidebar");
sidebar.style = sidebarstyle;
var sidebarmd = httpGet("sidebar.md");
var sidebarhtml = converter.makeHtml(sidebarmd);
sidebar.innerHTML = sidebarhtml;
}
</script>
  </body>
</html>
